<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateemployee" method="post">
        Employee id : <input type="number" name="eid" id="eid" value="<%=emp.eid %>" readonly><br>
        Employee Name : <input type="text" name="ename" id="enm" value="<%=emp.ename %>"><br>
        Employee city : <input type="text" name="city" id="city"
        value="<%=emp.city %>"><br>
        Employee Salary : <input type="text" name="salary" id="salary" value="<%=emp.salary %>"><br>
        <button type="submit" name="btn" id="btn">update employee</button>
    </form>
</body>
</html>