<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addemployee" method="post">
        Employee id : <input type="number" name="eid" id="eid"><br>
        Employee Name : <input type="text" name="ename" id="enm"><br>
        Employee city : <input type="text" name="city" id="city"><br>
        Employee salary : <input type="text" name="salary" id="salary"><br>
        <button type="submit" name="btn" id="btn">Add Employee</button>
    </form>
</body>
</html>